## Merging the tables

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
assessment = pd.read_csv("assessments.csv")
courses = pd.read_csv("courses.csv")
student_assessment = pd.read_csv("studentAssessment.csv")
student_info = pd.read_csv("studentInfo.csv")
student_registration = pd.read_csv("studentRegistration.csv")
student_vle = pd.read_csv("studentVle.csv")
vle = pd.read_csv("vle.csv")

In [62]:
student_data = pd.merge(student_registration, student_info, on=['id_student', 'code_module', 'code_presentation'], how = 'inner')

In [63]:
student_data = pd.merge(student_data, courses, on = ['code_module', 'code_presentation'], how = 'inner')

La tabella studentVLE contiene un'informazione molto utile: il numero di click di ogni studente nell'ambiente virtuale di apprendimento per ogni corso, che è un indicatore fondamentale di engagement. La tabella contiene però quasi undici milioni di entries: prima di effettuare il merge, ne riduciamo le dimensioni. 
Per ridurre il numero di entries, aggreghiamo il numero totale di click per ogni studente rispetto alla presentazione per la quale sono stati effettuati. Questa scelta è effettuata sapendo di perdere la temporalità del dato, ma è inevitabile per riuscire a gestire l'enorme quantità di dati.

In [64]:
student_vle = (student_vle.groupby(['id_student', 'code_presentation'], as_index=False)['sum_click'].sum())
student_vle.rename(columns={'sum_click':'total_clicks'}, inplace=True)

In [65]:
# Aggregazione con student_data
student_data = student_data.merge(student_vle, on=['code_presentation', 'id_student'], how = 'inner')

In [66]:
student_data

,code_module,code_presentation,id_student,date_registration,date_unregistration,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,module_presentation_length,total_clicks
0,AAA,2013J,11391,-159.0,NaN,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,268,934
1,AAA,2013J,28400,-53.0,NaN,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass,268,1435
2,AAA,2013J,30268,-92.0,12.0,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn,268,281
3,AAA,2013J,31604,-52.0,NaN,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass,268,2158
4,AAA,2013J,32885,-176.0,NaN,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass,268,1034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29364,GGG,2014J,2640965,-4.0,NaN,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail,269,41
29365,GGG,2014J,2645731,-23.0,NaN,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction,269,893
29366,GGG,2014J,2648187,-129.0,NaN,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass,269,312
29367,GGG,2014J,2679821,-49.0,101.0,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn,269,275
29368,GGG,2014J,2684003,-28.0,NaN,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction,269,616

In [67]:
student_assessment_data = assessment.merge(student_assessment, on=['id_assessment'], how = 'inner')
student_assessment_data

,code_module,code_presentation,id_assessment,assessment_type,date,weight,id_student,date_submitted,is_banked,score
0,AAA,2013J,1752,TMA,19.0,10.0,11391,18,0,78.0
1,AAA,2013J,1752,TMA,19.0,10.0,28400,22,0,70.0
2,AAA,2013J,1752,TMA,19.0,10.0,31604,17,0,72.0
3,AAA,2013J,1752,TMA,19.0,10.0,32885,26,0,69.0
4,AAA,2013J,1752,TMA,19.0,10.0,38053,19,0,79.0
...,...,...,...,...,...,...,...,...,...,...
173907,GGG,2014J,37437,TMA,173.0,0.0,652462,172,0,60.0
173908,GGG,2014J,37437,TMA,173.0,0.0,652539,176,0,75.0
173909,GGG,2014J,37437,TMA,173.0,0.0,653157,187,0,70.0
173910,GGG,2014J,37437,TMA,173.0,0.0,653252,171,0,70.0
173911,GGG,2014J,37437,TMA,173.0,0.0,653374,172,0,50.0

In [68]:
student_data = student_data.merge(student_assessment_data, on= ['code_module', 'code_presentation', 'id_student'], how='inner')

In [69]:
student_data

,code_module,code_presentation,id_student,date_registration,date_unregistration,gender,region,highest_education,imd_band,age_band,...,final_result,module_presentation_length,total_clicks,id_assessment,assessment_type,date,weight,date_submitted,is_banked,score
0,AAA,2013J,11391,-159.0,NaN,M,East Anglian Region,HE Qualification,90-100%,55<=,...,Pass,268,934,1752,TMA,19.0,10.0,18,0,78.0
1,AAA,2013J,11391,-159.0,NaN,M,East Anglian Region,HE Qualification,90-100%,55<=,...,Pass,268,934,1753,TMA,54.0,20.0,53,0,85.0
2,AAA,2013J,11391,-159.0,NaN,M,East Anglian Region,HE Qualification,90-100%,55<=,...,Pass,268,934,1754,TMA,117.0,20.0,115,0,80.0
3,AAA,2013J,11391,-159.0,NaN,M,East Anglian Region,HE Qualification,90-100%,55<=,...,Pass,268,934,1755,TMA,166.0,20.0,164,0,85.0
4,AAA,2013J,11391,-159.0,NaN,M,East Anglian Region,HE Qualification,90-100%,55<=,...,Pass,268,934,1756,TMA,215.0,30.0,212,0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173739,GGG,2014J,2684003,-28.0,NaN,F,Yorkshire Region,HE Qualification,50-60%,35-55,...,Distinction,269,616,37440,CMA,229.0,0.0,172,0,100.0
173740,GGG,2014J,2684003,-28.0,NaN,F,Yorkshire Region,HE Qualification,50-60%,35-55,...,Distinction,269,616,37441,CMA,229.0,0.0,206,0,100.0
173741,GGG,2014J,2684003,-28.0,NaN,F,Yorkshire Region,HE Qualification,50-60%,35-55,...,Distinction,269,616,37435,TMA,61.0,0.0,37,0,80.0
173742,GGG,2014J,2684003,-28.0,NaN,F,Yorkshire Region,HE Qualification,50-60%,35-55,...,Distinction,269,616,37436,TMA,124.0,0.0,114,0,80.0
173743,GGG,2014J,2684003,-28.0,NaN,F,Yorkshire Region,HE Qualification,50-60%,35-55,...,Distinction,269,616,37437,TMA,173.0,0.0,169,0,60.0

In [70]:
student_data.to_csv('data', index=False)